
<table align="center" width="80%" style="margin-top: 20px; padding: 0 10px 0 10px; background: #f1f1f1; border-radius: 10px; border: 1px solid #ffffff;">
    <tr>
        <td>
            <div style="font-family: sans-serif; margin-top: 22px;">
                <h4>Olá {Username},</h4>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div style="font-family: serif;">
            <p>
                Foi feito um cadastro na nossa plataforma
                <a style="text-decoration: none; color: inherit;" href="{BaseUrl}">
                    <strong>(Biblioteca)</strong>
                </a><br />
                Para confirmar seu e-mail clique no botão abaixo:<br />
                <div style="display: grid;">
                    <a style="text-decoration: none; text-align: center; background: #3759ff; border-radius: 5px; padding: 10px; color: white; font-family: sans-serif; justify-content: center;" href="{ConfirmationUrl}" target="_blank">Ativar Conta</a>
                </div>
                <br />
            </p>    
        </div>
        </td>
    </tr>
</table>
